@model Super_Cartes_Infinies.Models.Config

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NbCardsStart" class="control-label"></label>
                <input asp-for="NbCardsStart" class="form-control" />
                <span asp-validation-for="NbCardsStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManaPerRound" class="control-label"></label>
                <input asp-for="ManaPerRound" class="form-control" />
                <span asp-validation-for="ManaPerRound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbDecks" class="control-label"></label>
                <input asp-for="NbDecks" class="form-control" />
                <span asp-validation-for="NbDecks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbCarteParDeck" class="control-label"></label>
                <input asp-for="NbCarteParDeck" class="form-control" />
                <span asp-validation-for="NbCarteParDeck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
